.edit-client-container {
	border-radius: 10px;

	.edit-client-header {
		display: flex;
		justify-content: center;
		background-color: #FDFDFD;
		padding: 10px 0;
		column-gap: 30px;
		border-bottom: 1px solid #E7E7E7;
		border-radius: 10px 10px 0 0 ;

		.edit-client-title {
			font-size: 35px;
			font-weight: 500;
			color: #133C73;
		}
	}

	.edit-client-main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 20px;
	}

	.edit-client-footer {
		background-color: #FDFDFD;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-right: 20px;
	}
}