.custom-table > div {
  box-shadow: none !important;
  border: 1px solid #eeeff1 !important;
}
.custom-table > div > div {
  background-color: #f2f9fc !important;
}
.custom-table > div > div > table {
  background-color: #f2f9fc !important;
}
