.gp-pmnt-hd-pad-10 {
    padding: 0px 10px 0px 10px;
}
.gp-pmnt-pad-10 {
    padding: 10px 10px 0px 10px;
}
.header-row-text {
    font-size: 15px;
    font-weight: bold;
}
.gppmnt-text-left {
    text-align: left;
}

